.daml
*.log
target
.DS_Store
daml.js
ui/build
.vscode
canton-participants.json
canton-parties.json
canton-bankA.txt
canton-credentials-config.json
parties.json

!src/main/scala/com/digitalasset/canton

# IntelliJ
.idea
*.iml

*.dit
